dev.py
production.py
*.py[co]
*.sw[po]
*.egg*
*.rdb
*.pyc
__pycache__/
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
*.sqlite3
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
*/media/*
.idea/*
whoosh_index/*
.templates/
.templates
CACHE
CACHE/*
togit.sh
htmlcov/
saved/
# ====
.env/
.venv/
env/
.vscode/
*.env
assets/
*.mo
workspace/
/stereo_vision/
/papers_code/
*.onnx
